.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  background-color: #282c34;
  color: white;
  margin: -10px;
  position: sticky;
}

.header h1 {
  margin: 0;
}

.header nav a {
  margin: 0 15px;
  text-decoration: none;
  color: white;
}

.nav-menu {
  display: flex;
  gap: 20px;
}

.nav-item {
  text-decoration: none;
  color: black;
  cursor: pointer;
  transition: all 0.5s;
}

.nav-item:hover {
  transform: scale(1.1, 1.1);
}

.hamburger {
  display: none;
  font-size: 30px;
  cursor: pointer;
}

@media (max-width: 600px) {
  .nav-menu {
    display: none;
    flex-direction: column;
    gap: 15px;
    background-color: rgb(223, 162, 65);;
    position: absolute;
    top: 60px;
    right: 20px;
    width: 80px;
    padding: 20px;
    border: solid wheat 2px;
    border-radius: 30px;
  }
  
  .nav-menu.open {
    display: flex;
  }

  .nav-item {
    color: white;
  }

  .hamburger {
    display: block;
  }
}

.my-photo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: slideInTop 2s ;
  margin: 30px;
}

.my-photo {
  margin: 15px 10px 5px 10px;
  height: 21rem;
  border-radius: 4px;
}

@keyframes slideInTop {
  0% {
    transform: translateY(-200px);
  }
  100% {
    transform: translateY(0px);
  }
}

.crafting {
  animation: slideInBottom 2s forwards;
  animation-delay: 2s;
  transform: translateY(300px);
}

@keyframes slideInBottom {
  0% {
    transform: translateY(300px);
  }
  100% {
    transform: translateY(0px);
  }
}

p {
  margin: 0px;
}

h3 {
  margin: 0px;
}